[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
flake8 = "*"
autopep8 = "*"
ipython = "*"

[packages]
torch = "*"
torchvision = "*"
pytorch-lightning = "*"
kornia = "*"
tqdm = "*"

[requires]
python_version = "3.7"
